[2020-02-13 16:23] dturn commented on #687
@sco11morgan would you be interested in PRing this fix, I'm happy to provide guidance.

[2020-02-14 17:02] sco11morgan commented on #687
@dturn sure.  Just add an override of `"Job" => "v1"`?

[2020-02-14 19:51] timothysmith0609 opened #697 "CLI interface should be at the object, not class, level"
# Bug report

When attempting to implement #658 (repeatable flags), our test suite would break, since flags marked repeatable would persist, even beyond the boundaries of test methods (e.g. `testB` would contain parsed options from `testA`). Initially I thought this was an error in Thor, but on closer inspection, it appears to be an issue in the design of our CLI commands.

Our CLI commands all fo

[2020-02-14 20:04] KnVerey commented on #697
Given that the `KLASS.from_options` implementations should be (and seem to actually be?) stateless, I don't understand why changing them to instances could matter. Can you explain more about why you think this is the problem?

[2020-02-18 16:22] dturn commented on #687
That's the small fix. The other idea might be update the code in that function not to use `alpha` versions unless there are not other choices.

[2020-02-18 19:29] sco11morgan commented on #687
I already had the PR up for the small fix.  I can look at a more general solution but won't be able to get to it for a couple of days.

[2020-02-18 22:46] dturn commented on #526
We should stop annotating ejson secrets when we action this issue. The annotations aren't being used  by any code paths, though we should be sure to check with K8s#Krane to ensure external users aren't relying on it.

This came up because in pre.1 the annotations still use the k8s-deploy prefix and that's causing the k8s-deploy annotation depreciations warning to trigger. This sucks since users ca

[2020-02-18 22:58] KnVerey commented on #526
Is the warning about the ejson annotation we force actually fixed by moving 1.0? The annotation still uses `kubernetes-deploy` on master: https://github.com/Shopify/krane/blob/master/lib/krane/ejson_secret_provisioner.rb#L15

[2020-02-18 23:53] dturn opened #699 "Remove the need for a gvk override list"
We dynamically determine the group/version/kind for pruning based on output of kubectl commands. However, there isn't a simple strategy that can do this correctly, so we maintain a an override list that is growing https://github.com/Shopify/krane/pull/696.

Ideally we'd be able to leverage kubeclient to determine valid GVKs. It looks like that will require adding some code in https://github.com/ab

[2020-02-18 23:55] dturn opened #700 "Keep a list of external users in the readme."
One component of the impact of Krane is its use external to Shopify. Starts are a poor proxy of use. We don't want to add phone-home code either. So to start let's add a section to the readme where companies can voluntarily add themselves.

[2020-02-18 23:58] dturn commented on #689
@zedtux That's a good point. We're willing to accept a PR adding a post-deploy phase. We were thinking we'd drive this from an annotation (only supported on pod, and jobs if this add value to you) called something like `krane.shopify.io/run-phase`:  `pre` (default if not present) or `post`.

[2020-02-19 04:51] zedtux commented on #689
Using annotation is a good idea, I will prepare something.

[2020-02-25 18:31] #681 closed

[2020-02-26 01:32] tsontario commented on #697
It used to be stateless (well, it would only change state once after parsing via the `@assigns` instance var): [see here](https://github.com/erikhuda/thor/commit/36fea499730ca387740ec172a89353f7bb83cf62#diff-73e6cab56fa41b3617b44148dd574d06L100).

However, when repeatable options were introduced, we changed the behaviour to [this:](https://github.com/erikhuda/thor/commit/36fea499730ca387740ec172a8

[2020-02-26 15:55] rafaelfranca opened #704 "Tag 1.1.2 is missing in the repository"
This make harder to compare difference between versions.

[2020-02-26 16:19] timothysmith0609 commented on #704
Looks like we deployed while GH was suffering an outage. Unfortunately ShipIt was green so I didn't notice the problem until you pointed it out. I've manually tagged the version so this is now fixed

[2020-02-26 16:19] #704 closed

[2020-02-26 21:19] KnVerey commented on #697
Making `parse` idempotent certainly sounds conceptually appealing. I'm a little concerned that if we work around this by using instances, it is only going to bite other Thor users in the future. Since everything in our own (krane) code is stateless, the side-effects feel quite surprising.

Can you clarify what you mean by this?

[2020-02-27 02:23] tsontario commented on #697
A bit more research has left me with more questions than answers.

#### Options::@default behaves strangely when `required: false`
I was/am still struggling to understand the exact mechanism whereby options were being persisted across separate command invocations. My hypothesis up to now has been that the `@assigns` instance variable is keeping old references because of the merging strategy introd

[2020-02-28 18:28] timothysmith0609 commented on #697
Fixed upstream by https://github.com/erikhuda/thor/pull/715

[2020-02-28 18:28] #697 closed

[2020-03-11 22:27] cjoudrey opened #706 "krane render and secrets.ejson"
Earlier today, in an effort to move away from `krane deploy`'s ERB rendering logic, we migrated part of our deploy tooling to use something similar to `krane render | krane deploy --stdin` as per the [upgrade guide](https://github.com/Shopify/krane/blob/ebd94c4ec2ffa6e790ae6d54d4c75fdc208e6c57/1.0-Upgrade.md).

Unfortunately, in doing so we inadvertently broke deployments that rely on `secrets.jso

[2020-03-11 22:44] dturn commented on #706
@timothysmith0609 any thoughts since you created the TemplateSet(s) classes

[2020-03-17 14:49] KnVerey commented on #706
Internally, we're definitely going to be using an EjsonSecret resource that is converted to a Secret cluster-side: [internal issue](https://github.com/Shopify/krate/issues/85#issuecomment-588440886). This is really nice because it means krane doesn't need to read your ejson private key out of the cluster anymore. But the controller is (already) built in cloudbuddies, so it would be difficult to op

[2020-03-17 16:07] bazzargh opened #707 "feat: print template line numbers for errors when rendering ERB"
# Feature request

- [ ] If the maintainers agree with the feature as described here, I intend to submit a Pull Request myself.<sup>1</sup> (I would, because I already have the patch described locally, but this is a minor fix and I'd need to wait for our legal dept to clear the CLA)

**Proposal:** [provide details on the behaviour you'd like to see and why it would be useful]

When there is an err

[2020-03-17 16:18] bazzargh commented on #707
actually just spoke to our OSS coordinator and was encouraged to sign the individual CLA. Done. PR incoming

[2020-03-17 21:38] dturn commented on #707
Thanks for taking this on, really excited to see the PR.

I'm not a big fan of printing the stack trace. In the past they've led people to believe `krane` had crashed. Maybe could you extract the line number and then just print that in a helpful message. We'd  also be happy to print less in our errors, as you pointed out 300 lines of templates isn't great. Perhaps we would only print a snipet of t

[2020-03-17 22:26] bazzargh commented on #707
re the CLA: it really is just the black hole of the process. I wanted to open source a ~50 line ruby tool 3 years ago and haven't heard back from legal :D ... so the company decided to delegate authority on things like this (small patches, not releasing our own projects) to permission from manager + individual CLA. We are signed up as an org to other CLAs where they span multiple projects of inter

[2020-03-18 02:24] aca opened #708 "Proposal: Add '--restart' flag to 'krane deploy' to restart the resource"
# Feature request

**Proposal:** Add '--restart' flag to ```krane deploy``` to restart the resource.

If resource definition is same, mostly when users use 'latest' docker tag, ```krane deploy``` command end immediately as nothing has changed.

We have to run ```krane restart``` to force restart deployment and pull latest image.
It is obviously not a recommended way to deploy resource in ```latest

[2020-03-18 15:04] dturn commented on #708
Hi @aca I'm going to reject this feature. Using the latest tag is an anit-pattern and its against our philosophy to make it easy (easier) to do the wrong thing.

[2020-03-18 15:04] #708 closed

[2020-03-31 12:05] breunigs commented on #690
Upstream has released 1.1.1 which fixes these issues:
https://github.com/aetherknight/recursive-open-struct/pull/64#issuecomment-597469281

I've opened a PR against kubeclient to have them bump the min required version to ensure compatibility: https://github.com/abonas/kubeclient/pull/439 . Since krane doesn't directly depend on recursive-open-struct, it needs to wait for kubeclient to release a n

[2020-03-31 16:11] dturn commented on #690
CI is still failing for #675 . #710 is passing for ruby 2.6, I need to check the linting and ruby 2.7 but its promising.

[2020-03-31 16:35] breunigs commented on #690
If you copy&paste the errors I can take a look, otherwise it's a bit much guess work :)

[2020-03-31 21:43] dturn commented on #706
I think having `krane render` just emit the ejson as a document and then have `krane deploy` recognize it based on the public key field is worth a quick spike. I think its the least surprising option, assuming it doesn't make the code too complicated.

[2020-04-03 13:21] cben commented on #690
Hi, coming here from https://github.com/abonas/kubeclient/pull/439.
My general understanding of semver patch releases, like recursive-open-struct 1.1.0 -> 1.1.1, is that few people _prevent_ them in dependency ranges, so once a fix is out there is no need to "bubble it up" by releasing new versions of all intermediate consumers.

If I'm wrong, please comment on https://github.com/abonas/kubeclient

[2020-04-03 23:21] dturn commented on #690
@cben

I think (1) & (3) are both valid options. We'd prefer not to add transitive dependencies to our gemspec.

When I run our tests I do get depreciation warnings coming from kubeclient, perhaps when you fix those you could bump recursive-open-struct?
[code]

[2020-04-07 21:22] dturn commented on #690
#710 has merged and which includes the needed fixes to make krane work with ruby 2.7

[2020-04-08 18:25] timothysmith0609 commented on #706
I agree with Danny, hopefully it won't be too painful to parse the ejson secrets out of the incoming set of templates (seems straightforward enough).

[2020-04-09 14:06] airhorns commented on #526
Is it time for this maybe?

[2020-04-09 19:53] dturn commented on #526
@airhorns the project is ready for it. Are you willing to PR it?

[2020-04-14 15:40] #683 closed

[2020-04-15 14:58] KnVerey commented on #706
I just thought of a big downside of what I proposed / advantage of CJ's original suggestion: emitting ejson (even yaml-formatted) alongside k8s resources breaks interoperability. To give a concrete example, our k8s template validator currently essentially does `krane render` and then passes each document received to a series of validation tools. That needs to continue to work. I'm thinking either:

[2020-04-15 18:51] timothysmith0609 commented on #706
I think having `krane` output kubernetes resources, and _only_ kubernetes resources, is advantageous for the reasons you describe. Perhaps another way to approach the problem is to make passing in secrets _more_ explicit via `krane deploy`. That is, necessitate supplying a flag (`--secrets=[SECRETS]`, e.g.) to `krane deploy` instead of combining them with the `--filenames` flag.

The advantage her

[2020-04-22 15:15] timothysmith0609 commented on #706
After speaking with @KnVerey and @RyanBrushett , we are leaning towards representing EJSON as a virtual k8s resource. `krane render` will transform `secrets.ejson` into a kubernetes representation (e.g. with `kind`, `apiVersion`, `metadata`) and `krane deploy` will have a mechanism to translate that representation into the actual EJSON.

Provided we publish a schema for this representation, we can

[2020-05-05 05:45] Ticiano-mw commented on #459
I was having the same problem. It was the halloweed namespace selection! You probably were missing the
 `-n <namespace>` flag to your scale command like me.
Cheers!

[2020-05-05 15:31] timothysmith0609 opened #717 "Fix misleading usage (missing required args) in README"
https://shopify.slack.com/archives/C9PV7P8DB/p1588692003085400

see https://github.com/Shopify/krane#using-templates

We recommend calling `krane deploy` without showing the required namespace/context args, which is misleading in some cases

[2020-05-11 17:09] dturn opened #718 "[Bug] Leaked access-token on"
# Bug report

There was an error during a deployment that caused the kubeconfig.yml to be logged. The kubeconfig included an access-token. While access-tokens are short lived we shouldn't be logging them. Ideally we'd just sanitize sensitive information from the kubeconfig.yml instead of suppressing all of it. Possibly by not printing the `auth-provider:` section of a user or just not logging the

[2020-05-13 13:09] timothysmith0609 commented on #706
We've decided to postpone any further work on this, as it's unclear at this moment if our proposed solution is going to be worthwhile in the long run. We can revisit this if the issue becomes more pressing in the future.

[2020-05-13 13:09] #706 closed

[2020-06-02 22:27] xaviablaza commented on #526
Could we move forward with this deprecation with #587?

[2020-06-03 21:11] dturn commented on #526
@xaviablaza Thanks for reminding us about this issue. We're ready to move forward, but it would be better if we handled all removing all of the old kubernetes-deploy annotations at once. Is that something you'd be willing to PR? If not even rebasing the PR you linked would be a big help. If you're unable we've got the work scheduled but I can't commit us to a definitive date.

[2020-06-22 12:56] strowi opened #721 "K8s-1.18 error pruning IngressClass"
Hi,

with Kubernetes-1.18 krane fails Deployments with the following error, which probably needs an override?
IngressClass seems not present as /v1, just /v1beta.

[code]

**Expected behavior:**
Successful Deployment

**Actual behavior:**
Deployment fails

**Version(s) affected:**
1.1.3

### Steps to Reproduce

1. Setup K8s-1.18
2. Try deploying with krane to the cluster
3. see error

regards,
str

[2020-06-30 20:03] timothysmith0609 opened #727 "Implement repeatable -f flag"
# Feature request

In following our attempt to mimic, as much as possible, `kubectl` syntax, we should make the `--filenames | -f` flag repeatable. This is simple to do (simply set `repeatable: true` for the option). However, https://github.com/erikhuda/thor/pull/715 needs to be released before this will actually work as intended. To observe why this fails, simply run the CLI tests and observe the

[2020-07-10 19:58] joshuasimon-taulia opened #728 "Service deployed in priority resources phase"
# Bug report

when i `krane deploy` an app for the first time, it times out because the service selects 0 pods. after `kubectl delete`ing the Google Config connector `services.serviceusage.cnrm.cloud.google.com` CRD, the deploy works.

**Expected behavior:** Service deploys after the priority resources phase

**Actual behavior:**
[code]

**Version(s) affected:**  krane 1.1.1 and krane 1.1.4

### S

[2020-07-11 09:41] ppawiggers opened #729 "Deploy in-cluster without kube config file"
# Feature request

**Proposal:**
We run a dozen of GKE Kubernetes clusters, all with a Gitlab Runner inside the cluster. This runner has the cluster-admin RBAC clusterrole and deploys resources in the cluster it's running in (triggered by a GitLab CI Pipeline). This way, the runner does not need any Kubernetes credentials. From the Gitlab Runner container, we can execute any `kubectl` command.

We

[2020-07-13 17:11] #721 closed

[2020-07-13 17:29] dturn commented on #728
Thanks for the bug report. It looks like our logic to determine what is a priority resource only considers `kind` and not `group` so its confusing  **services**.serviceusage.cnrm.cloud.google.com (which is a CRD and should be predeployed) with service.core which shouldn't.

[2020-07-15 21:07] dturn commented on #690
released in v1.1.3

[2020-07-15 21:07] #690 closed

[2020-07-15 21:12] dturn commented on #729
👋  Thanks for the issue. In the past we've talked about a config file that would allow people to specify defaults like cluster name or namespace. However, we haven't had the resources to build that idea out. Till then most of our users inovke the CLI from a shared environment where relying on the current conext would be very dangerous.

As for not needing a kubeconfig file its true that `krane dep

[2020-07-17 08:40] ppawiggers commented on #729
Yes, `get-credentials` is creating a `kubeconfig` file. However without it, `kubectl` also work because I run them from within the cluster itself. I don't know if this is a feature specific to GKE (and that they do some authentication and proxying under the hood).

I can image that if underlying libraries do need a `kubeconfig` file, this is difficult to implement. For now this workaround works fi

[2020-07-20 20:50] airhorns commented on #727
This would be really handy for deploying via `krane render | krane deploy` and including ejson secrets in that deploy. Currently, render doesn't render secrets (which I think makes sense), so if you want to deploy them you have to deploy them separately and figure out on your own how to manage purging.

[2020-07-20 21:06] dturn commented on #727
As an fyi: you can do `krane render ... | krane deploy ... --stdin -f path/to/secrets.ejson`

[2020-07-20 21:55] airhorns commented on #727
`--stdin` is deprecated now though right? Users are asked to use `-f -`, hence the need for repeatable `-f`s to get the same behaviour without a warning.

[2020-07-20 21:59] timothysmith0609 commented on #727
This is blocked on an upcoming Thor release ([PR there is already merged](https://github.com/erikhuda/thor/pull/715)).

[2020-07-21 17:15] dturn commented on #729
Sorry we weren't able to make the changes, but I did learn more about kube auth.

[2020-07-21 17:15] #729 closed

[2020-07-29 14:16] #728 closed

[2020-07-29 15:46] jpfourny opened #736 "Unquoted strings not preserved by krane deploy"
# Bug report

An env key-value pair like this:
[code]
is being rendered like this during deploy:
[code]

Note: Render command is fine - it seems to be lost explicitly during deploy command.

Although explicitly quoting "1,1" on input works around the issue, tools like `krate` will not emit explicit quotes unless required (and it is NOT required in this case by YAML spec). Krane needs to solve this

[2020-07-29 16:19] joshuasimon-taulia commented on #728
thank you!

[2020-07-29 16:21] timothysmith0609 commented on #736
The `,` character is treated as a (european) number separator, and this is consistent behaviour with the ruby `yaml` library. This is analagous to the `true` (bool) vs `"true"` (string) problem that often crops up in YAML, as well.

You're right that the YAML spec does not explicitly mention this, but this seems to be the intended behaviour, at least for Psych, if not libyaml itself

[2020-07-29 17:30] jpfourny commented on #736
I see your point, but I find it interesting that `1,1` became `11`. Should it not have become `1.1` in the output? Anyway, I may consider fixing this in krate somehow ...

[2020-07-29 19:36] jpfourny commented on #736
@timothysmith0609  Even `0,0,0,0,0,0` -> `0` ... and that does not seem like a valid number. Seems a little loosey-goosey to me.

[2020-07-29 20:39] jpfourny commented on #736
Anyway, I will compensate in krate. No worries.

[2020-07-29 20:39] #736 closed

[2020-08-03 12:13] davidcaste opened #737 "Error when deploying a ConfigMap with a value which numbers and commas"
# Bug report

I have a minimal ConfigMap with the following contents:

[code]
krane is not able to deploy it and throws the following error:

[code]

It seems like it got confused with the first comma, and it tried to parse the value as a Number instead of just a String.

**Expected behavior:** Apply the manifest without complains.

**Actual behavior:** It fails with the error above.

**Version(s)

[2020-08-11 16:00] #526 closed

[2020-08-17 16:37] benlangfeld opened #739 "New k8s releases"
# Feature request

- [x] If the maintainers agree with the feature as described here, I intend to submit a Pull Request myself.<sup>1</sup>

**Proposal:** Is it possible to run CI against k8s 1.18?

I think this is something that requires a maintainer to setup in some other repo.

<sup><small>1</small></sup> <sub>This is the quickest way to get a new feature! We reserve the right to close feature

[2020-08-17 16:47] #739 closed

[2020-08-17 17:45] jugatsu commented on #736
Hey!

@jpfourny What do you mean by krate?

I have the same issue but with `50153e98` treated as E-notation (https://en.wikipedia.org/wiki/Scientific_notation#E_notation)

For example (any `\d+e\d+` string):

[code]
after `krane deploy` becomes:

[code]

Guys, @jpfourny @timothysmith0609 how can i workaround this issue?

[2020-08-18 00:59] jpfourny commented on #736
The e-notation problem is distinct from the comma-delimited case I hit. In any YAML 1.2 compliant parser, scientific notation is accepted with _optional_ decimal point and _optional_ +/- following 'e' or 'E'. This was to be on-par with what JSON allows. However, with Psych (YAML engine for Ruby), decimal point and +/- trailing 'e' is REQUIRED to be interpreted as a float. As a consequence, YAML se

[2020-08-18 03:17] jpfourny commented on #736
@jugatsu : Here is PR to workaround e-notation problem in `krater`: https://github.com/Shopify/krater/pull/183
Note: If `krane deploy` is having problems, we can try a similar hack.

[2020-08-18 04:41] jugatsu commented on #736
@jpfourny thank you for your comment, I appreciate it. But I don't have access to krater repo )

[2020-08-18 13:55] jpfourny commented on #736
I am currently refining things based on feedback. After I polish my changes, I will send you some code snippets.

[2020-08-18 16:56] jpfourny commented on #736
@jugatsu I ended up with a monkey-patch to Psych to address the problem.

[code]

[2020-08-18 16:58] jpfourny commented on #736
If you drop this into a Ruby file and include it, it should globally change the serialization to force double-quoting of any strings that resemble scientific notation. It would then be safe to consume by Go and K8s.

[2020-08-19 05:55] jugatsu commented on #736
@jugatsu Great! Thanks a lot, i will try.

[2020-08-20 15:22] jpfourny opened #740 "YAML string scalars with scientific/e-notation numeric format not properly quoted"
# Bug report

Due to discrepancies between Go YAML and Ruby YAML (psych), we have run into deployment failures when YAML contains strings that encapsulate numbers with a specific variants of scientific/e-notation format. The discrepancy lies in the fact that Go's YAML parser (mostly) follows YAML 1.2, which accepts a wider range of scientific/e-notation variants as compared to psych. Despite havin

[2020-08-26 21:00] jpfourny commented on #740
Fixed in krane 2.0.0

[2020-08-26 21:00] #740 closed

[2020-10-20 15:46] dturn commented on #699
https://medium.com/@tannhauser.sphinx/bash-kubernetes-script-to-list-all-available-resources-subresources-c65a5c2c1173 might be helpful

[2020-10-21 05:36] AndrewFarley opened #758 "How to use Krane within a cluster via a service account"
# Bug Report / Feature Request

Currently there appears to be no way to run Krane from within' the Kubernetes cluster with a pod's service account.

I've tried things such as creating a config file, creating a default context, etc.  And it looks like Krane "simply" reads the config file and does not actually replicate the logic that kubectl would do, which is if no kube config exists, try to use a

[2020-10-21 11:14] AndrewFarley commented on #758
Ahh nevermind, I think I found a workaround incase someone stumbles upon this, in your CI run....
[code]

Might be nice to document this somewhere?  :P

[2020-10-21 11:14] #758 closed

[2020-10-22 14:06] airhorns commented on #687
I'm getting the same error on GKE `1.17.9-gke.6300` for `FrontendConfig`:

[code]

Failed command:

[code]

Explain:

[code]

Could you folks explain more about the general fix for this? I don't quite understand, and am happy to PR the small fix again for this resource but I wonder what a more sustainable version looks like.

[2020-10-27 18:58] ayatsynych opened #762 "For failed deploys, add the information about the k8s node"
# Feature request

**Proposal:** If it's possible, in case of deploy failure, add the information about the k8s node. There are cases when deployment failures are caused by the underlying node issues. It will be much easier to identify these causes by outputting the node information (name) for each of the failed resources.
Having this information in the logs also helps with audits and debugging.

[2020-10-27 19:38] dturn commented on #762
In general this sounds like it would be helpful. Though can you be a bit more specific about the types of failures you're seeing. e.g. DS pods not scheduling, container problems, ...

The other big question are you interested PRing this or is this just a request?

[2020-10-27 20:04] ayatsynych commented on #762
This is just a request, but if we find the time, we will consider putting in the work to implement this request

Few specific examples we have seen in the past:
1. The underlying node is having docker daemon issues and all the pods that get scheduled on that node are in a bad state (stuck in "Terminating" or "Initializing" state)
2. The underlying node is having performance issues, therefore causi

[2020-12-07 14:08] zedtux opened #769 ""decryption failed: invalid message format" when deploying to the "default" namespace"
# Bug report

Given I have the `default` namespace and another one named `nsapp`
And in both namespaces I have a `ejson-keys` Secret with the same public/private key
When I deploy a `secrets.ejson` file to the `nsapp` namespace all works fine
But deploying the same `secrets.ejson` file to the `default` namespace, passing the `--no-prune` flag to `krane`, it fails with the following output:

[code]

[2020-12-07 14:16] zedtux commented on #769
Oops, sorry, for any reasons I made a mistake and actually my `secrets.ejson` was containing the non-encrypted data ... encrypting it and then deploying worked.

[2020-12-07 14:16] #769 closed

[2020-12-11 10:20] zedtux commented on #484
In the case someone comes here from Google, another case I had was to use a `kubectl` version which was too much recent for my cluster (Cluster in 1.15, `kubectl` in 1.20).
Removing the `--filenames application/secrets.ejson` flag show me the following error:

[code]

because of the command being:

[code]

Downgrading my `kubectl` to the same version as my cluster fixed the issue!

[2020-12-14 21:24] vic614 opened #772 "Error installing using gem install krane on macOS Catalina"
Got this error from the installation.

[code]

[2020-12-15 03:18] trueskawka opened #773 "NetworkPolicy resources are not predeployed when using calico as the network provider"
We've been using your tooling for a while, thanks for making it open-source <3 Appreciate all the work you put into it!

We recently went through the full update path from `kubernetes-deploy` in `0.25.0` and wanted to update to the newest `krane`, but this bug is preventing us from updating beyond major version 1.

# Bug report

When using `calico` as the network provider, `NetworkPolicy` resource

[2020-12-15 15:32] #772 closed

[2020-12-15 17:25] dturn commented on #772
@vic614 Did you get this to work? If so could you drop a few notes in here in case anyone else hits this issue?

[2020-12-15 17:29] vic614 commented on #772
macOS Catalina
Issue reappeared in Catalina and I wasn't able to spot this package in the Developer SDK. This is a solution I found on stackoverflow.com. https://stackoverflow.com/questions/53135863/macos-mojave-ruby-config-h-file-not-found
[code]

[2020-12-15 19:26] dturn commented on #773
I'm surprised this is happening. By default CRs are pre-deployed. This behavior can be turned off by an annotation on the CRD https://github.com/Shopify/krane#customizing-behaviour-with-annotations `krane.shopify.io/predeploye: false` .

Can you add the example CR and CRD to a comment in this issue?

[2020-12-15 20:40] trueskawka commented on #773
We're setting up `calico` as a separate workload in every cluster. Whenever we deploy a different workload to a cluster, `calico` is already there and the `krane` discovery is going to find a CRD `NetworkPolicy` resource coming from it. That overrides the predeployment for the CR `NetworkPolicy` for any workload we're deploying.

That happens in every workload we deploy to the cluster, no matter w

[2020-12-16 21:57] dturn commented on #773
Oh, I see `NetworkPolicy` exists in `extensions` / `networking.k8s.io`  depending on k8s [version](https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16).

When you use Calico it also adds a `NetworkPolicy` CRD and because of the way we construct the hash: https://github.com/Shopify/krane/blob/master/lib/krane/deploy_task.rb#L77 we only consider Calico's NetworkPolicy as something to pred

[2020-12-16 23:05] trueskawka commented on #773
Yay, glad it makes sense with more context 🎉

I couldn't think of an elegant way to solve it, because in some cases you may want to predeploy CRDs and not CRs (seemed like that was the case for the feature request that the grouping was addressing, i.e. https://github.com/Shopify/krane/issues/728).

I was wondering if there is a definite set of cases for which resources you may or may not want to p

[2020-12-17 08:21] sjagoe opened #776 "kubectl 1.20.0 compatibility"
# Bug report

Krane fails to deploy using kubectl v1.20.0 (released 8 Dec 2020). The reason appears to be changed output from `kubectl api-resources` that is now getting processed incorrectly.

The new output format is:
[code]

contrasted with the old output
[code]

The new output's `APIVERSION` column can be used (almost) verbatim to build the list of prunable resources, aside from the `v1` api v

[2020-12-17 22:40] dturn commented on #773
Its up to each operator if they want to pre-deploy CRs or not. As an example: If you use a CR to do canary deploys, you wouldn't want that to be pre-deployed.

[2020-12-18 16:56] dturn commented on #776
Thanks for bringing this up and the patch!

I've got a PR going to add CI support for k8s v1.20. I'll do my best to get this patched in today. If not, it might not happen till January because of holiday vacations.

[2020-12-30 03:36] scottlaplante commented on #776
@sjagoe excellent writeup. I have stumbled into this as well, though my "situation" differs slightly.

[code]

configmaps apigroup is blank
[code]

blank "becomes" `v1` as designed, and yet I get stopped by (essentially):
[code]

Would a fix along the lines of "if apigroup is blank or 'v1', set it to 'core/v1'" suffice? (Please treat this as the naïve question that it is, and apologies for not pro

[2021-01-04 07:51] sjagoe commented on #776
Something like that could work:
1. If `APIGROUP` is blank, try to read the `APIVERSION` column
2. If `APIVERSION` is blank, fall back to pre 1.20.0 implementation, otherwise
3. If `APIVERSION` is `v1`, use `core/v1`, else use it unchanged.

[2021-01-04 17:52] trueskawka commented on #773
Hi @dturn, happy new year 🎉

Did you end up making any progress on a different approach? Anything I could do to help?

Happy to provide more info and brainstorm :)

[2021-01-08 15:23] timothysmith0609 opened #780 "Only secrets are marked SERVER_DRY_RUNNABLE"
# Bug report

During perf test of 1.18 clusters, we noticed a drop in performance in Phase 1. After looking closely, we noticed that only `Secret` resources were being dry-run server-side. Upon further investigation, `KubernetesResource`s are defaulted to `SERVER_DRY_RUNNABLE = false` and only `Secret` overrides this. At first blush, this seems like an oversight.

# TODO

- Investigate why only se

[2021-01-08 16:28] dturn commented on #780
From my memory (so its worth double checking) you can't server side dry run resources with dependencies individually . E.g. if a deployment mounts a volume server side dry run will reject it unless you dry-run deployment and the volume. So there are likely more resources we could add, but it might not be as helpful as we'd want.

[2021-01-11 19:12] trueskawka commented on #773
Following up @dturn :) Anything I could do to help?

[2021-01-11 19:23] dturn commented on #773
I'm slowly making progress on #774 but when I went to write the test I realized this is going to take longer than expected. It turns out there are at least 3 places we assume `Kinds` are unique: predeploy, KubernetesResource#build, and ResourceCache.

The PR originally was trying to solve the first issue. Solving the second one is done locally, but still haven't had enough time to finish up the 3r

[2021-01-18 14:31] dan-leanix opened #783 "krane 2.1.3 - no matches for kind "EnvoyFilter" in version "networking.istio.io/v1beta1""
Istio still does not have `EnvoyFilter` in the API version `networking.istio.io/v1beta1`. Therefore we need an override for it like in https://github.com/Shopify/krane/issues/721 pointing `EnvoyFilter` to API version `networking.istio.io/v1alpha3`.

For reference the Istio API version: https://github.com/istio/api/tree/master/networking/v1alpha3

[code]

**Expected behavior:**
Successful Deploymen

[2021-01-19 21:06] peter-dough opened #785 "krane 2.1.3 - no matches for kind "TCPIngress" in version "configuration.konghq.com/v1""
Deployments via `krane` fail when Kong API Gateway is deployed to the same GKE cluster. Please add an override for TCPIngress (eg. `"TCPIngress" => "v1beta1"`). As a reference, please see [#721](https://github.com/Shopify/krane/issues/721) as the issue is very similar.

**Sample Error**:
[code]

**Expected behavior:**
Successful Deployment

**Actual behavior:**
Deployment fails

**Version(s) affec

[2021-01-20 14:16] timothysmith0609 opened #787 "Batch dry-run should also attempt only 'created' resources"
# Feature request

Following #781, all resources are grouped together in the validation phase and batch-applied against the API server. This includes resources that are otherwise deployed via `create`, `replace`, `replace-force`. As an additional precaution, we should group these resources together and dry-run _only_ those, in addition to the current check of all resources.

[2021-01-20 15:25] #783 closed

[2021-01-20 16:24] timothysmith0609 opened #789 "[Flaky test] SerialDeployTest#test_deploying_crs_with_invalid_crd_conditions_fails"
`SerialDeployTest#test_deploying_crs_with_invalid_crd_conditions_fails` appears to be flaky, curiously I've only noticed it exclusively on the 1.18 CI block, though it doesn't seem to have anything to do with k8s version. On first blush, this appears to be a race condition of cleaning up temporary directories, though I haven't dug too far into it. The naive solution is to rescue `ENOENT` in `delet

[2021-01-20 16:26] timothysmith0609 opened #790 "[Flaky test] RunnerTaskTest#test_run_with_verify_result_neither_misses_nor_duplicates_logs_across_pollings"

[2021-01-20 17:15] timothysmith0609 opened #791 "[Maintenance] Update DD dashboard to split on dry-run=false/true for apply_all"

[2021-01-21 12:09] sjagoe commented on #776
It looks like this is included in v2.1.4 and was fixed by #777.

[2021-01-21 12:09] #776 closed

[2021-01-21 12:17] sjagoe commented on #776
It looks like this is fixed but not noted in the changelog for v2.1.4

[2021-01-26 18:10] timothysmith0609 commented on #785
Closed via #786

[2021-01-26 18:10] #785 closed

[2021-01-26 18:13] timothysmith0609 commented on #780
#788 moved over to running batched server-side dry runs, obviating the need to specify per resource constraints. As of 2.1.4, we simply fallback to the prior behaviour (dry-run each resource individually). For now, there should be no more work to do here, though we could remove the SERVER_DRY_RUNNABLE constant if we determine it's unneeded.

[2021-01-26 18:13] #780 closed

[2021-01-29 10:38] dan-leanix opened #795 "krane 2.1.4 / 2.1.5 - no matches for kind "WorkloadGroup" in version "networking.istio.io/v1beta1""
Istio still does not have `WorkloadGroup` in the API version networking.istio.io/v1beta1. Therefore, we need an override for it like in #721 pointing `WorkloadGroup` to API version networking.istio.io/v1alpha3.

For reference, the Istio API version: https://github.com/istio/api/tree/master/networking/v1alpha3

[code]

**Expected behavior:**
Successful Deployment

**Actual behavior:**
Deployment fa

[2021-02-01 20:15] timothysmith0609 opened #797 "Batch dry-running may fail slower than we expect"
Server-side dry run can fail when an admission controller does not declare itself as having no side effects. In the case of some of our deploys, we go through the effort of dry-running every resource, only to fail on ones that go through such an admission hook. The result is a long, failed, attempt at batch running, followed by a resource-by-resource validation (which succeeds by virtue of being m

[2021-02-02 07:33] Nakilon commented on #407
Also consider `apk add ruby-bigdecimal`.

[2021-02-02 18:32] dturn commented on #773
@trueskawka you've probably figured this out, but I haven't had as much time to work on this as needed. I can't commit to getting this fixed in a reasonable time frame. If you're interested in taking over let me know and I'll do my best to support you. Otherwise, you can follow this this issue and I'll keep it updated.

[2021-02-04 19:51] larsdekroon opened #799 "Problem with pruning crds when multiple versions are available. e.g. monitoring.coreos.com/v1"
# Bug report

When I run krane on my cluster, it looks up all crd's so they can be pruned if they are not defined. However, alertsmanagersconfig is a crd which has an v1alpha version, but the prune-whitelist is assigned to monitoring.coreos.com/v1/alertsmanagersconfig. This fails, since only monitoring.coreos.com/v1alpha/alertsmanagersconfig exists.

**Expected behavior:**
A correct combination of

[2021-02-05 00:24] dturn commented on #799
@larsdekroon Thanks for filing this bug. I think this is a new example of https://github.com/Shopify/krane/pull/696 /  https://github.com/Shopify/krane/issues/699. Can you confirm? I

[2021-02-10 15:28] larsdekroon commented on #799
@dturn Yes! It seems like the same problem. #795 as well! I think you can get the correct version from "kubectl api-resources" and use that version!

[2021-02-10 19:38] dturn commented on #699
Fixed in https://github.com/Shopify/krane/pull/778

[2021-02-10 19:38] #699 closed

[2021-02-10 19:39] dturn commented on #795
Good news. We've merged https://github.com/Shopify/krane/pull/778 which in the real fix to this problem (and removes the need for an override list). We're planning to release a new version this week. Feel free to re-open this issue if you have any questions for problems.

[2021-02-10 19:39] #795 closed

[2021-02-10 19:40] dturn commented on #799
Good news. We've merged https://github.com/Shopify/krane/pull/778 which in the real fix to this problem (and removes the need for an override list). We're planning to release a new version this week. Feel free to re-open this issue if you have any questions for problems.

[2021-02-10 19:40] #799 closed

[2021-02-11 09:36] dan-leanix commented on #795
@dturn Great news. We will for sure test this when the new version is released and provide feedback.

[2021-02-12 03:25] joshuasimon-taulia opened #804 "forbidden: User "$SERVICE_ACCOUNT" cannot get path"
# Bug report
starting in krane 2.1.6, my k8s sa is hitting permissions issues. krane works fine in 2.1.5

**Expected behavior:**
[code]

**Actual behavior:**
[code]

**Version(s) affected:** 2.1.6
### Steps to Reproduce

1. `krane deploy staging staging --no-prune -f output/my-charttemplates/`

This is RBAC for my k8s SA
[code]

I have also tried giving the k8s SA
[code]

# Feature request

**Prop

[2021-02-12 20:57] dturn commented on #687
This should be resolved for ever by https://github.com/Shopify/krane/pull/778

[2021-02-12 20:57] #687 closed

[2021-02-12 20:59] dturn commented on #804
I definitely think this is worth documenting. We've held off on a list of RBAC resources because krane will deploy/prune anything you give it so there isn't really isn't a list of short of `*` that would work for everyone.

Would you be willing to PR something to our docs?

[2021-02-14 21:57] larsdekroon commented on #799
Thanks! Seems nice!

[2021-02-15 12:23] sjagoe opened #805 "Krane 2.1.6 unable to deploy due to latency reaching cluster"
# Bug report

Krane 2.1.6 has an extremely short timeout for cluster resource discovery, which can result in inability to deploy, particularly for people working remotely with moderate-latency connections, or with long distance (i.e. high latency) to the cluster under control.

The issue is introduced with #778, which uses `kubectl get ... --request-timeout=1` during resource discovery. It appears

[2021-02-17 17:16] dturn commented on #805
Thanks for filing a bug report. We definitely didn't expect that to happen. Do you think a 2 second timeout instead of the 1 second we have right now https://github.com/Shopify/krane/blob/master/lib/krane/cluster_resource_discovery.rb#L104 would be enough?

[2021-02-17 17:36] sjagoe commented on #805
My feeling is two seconds would probably be okay. Our developers who have faced this don't have it all the time; it has been an intermittent problem on a sligtly unstable Internet connection, so I think a small increase would have a large effect on mitigating the probelm. I suspect in most cases even if there is a failure then, the retry may take care of it in most cases, too.

[2021-02-18 08:16] opsidao commented on #805
This also broke deployments for us, seems like our EKS cluster takes a bit longer than 1 second to resolve the discovery queries and we had to downgrade to 2.1.5 for our deployments to work at all again.

I believe that it would be nice to have a new `--discovery-timeout` cli argument to override this optionally, if no one is already working on a solution I can try implementing something myself, j

[2021-02-18 16:57] norman commented on #805
I observed the same issue while deploying to a cluster in the USA from a connection in Argentina. 2.1.6 times out, while 2.1.5 works fine. I tried issuing the failing `kubectl` commands with a timeout of 2 seconds and they worked, but with 1 second they consistently fail.

[2021-02-18 16:59] sjagoe commented on #805
Given the further reports here, I'd agree with @opsidao that a slightly larger timeout would be better.

In the good cases, nobody will notice the higher timeout. In the really bad cases, it's the difference between working (although slowly) and not.

[2021-02-23 14:42] strowi opened #808 "2.1.6+ error deploying"
# Bug report

[Description of the bug]

**Expected behavior:** successful deployment with v2.1.6+

**Actual behavior:** Deployment fails with:
[code]

**Version(s) affected:** [run `krane version`]
v2.1.6/v2.1.7

### Steps to Reproduce

1. render + deploy with krane-v.2.1.5 to k8s-1.18.14 -> works
2. render + deploy with krane-v.2.1.6+ to k8s-1.18.14  -> error

Not sure what else might be useful i

[2021-02-23 18:51] dturn commented on #808
@strowi Thanks for filing a bug report. This is definately unexpected. To help us debug can you run `kubecetl get --raw /` and send us back the results? (There shouldn't be anything sensitive in the results, but you should double check before posting to  public issue).

[2021-02-23 19:26] strowi commented on #808
@dturn as requested:
[code]

[2021-02-25 21:50] dturn commented on #808
Hmmm, that's unexpected. Against minikube / our gke clusters we get a response that looks like:

[code]

I wonder if this is on a different path with clusters created by rancher, a quick google search didn't turn anything up.

[2021-02-25 22:08] strowi commented on #808
Ahh, yep they are. It seems to be located underneath `kubectl get --raw /k8s/clusters/c-mzbmh` where 'c-mzbmh' is the cluster-id.
Found a reference here at the very end: https://rancher.com/docs/rancher/v2.x/en/k8s-in-rancher/horitzontal-pod-autoscaler/manage-hpa-with-kubectl/

[code]

[2021-02-28 08:51] strowi commented on #808
Digging around, i found out it's quite easy if you know your kubectl: ;)

[code]

[2021-03-01 22:08] bazzargh commented on #804
We just hit this issue too, with a user updating to 2.1.7. Maybe worth mentioning our finds on the way here, that k8s rejected adding this permisssion to the standard discovery role https://github.com/kubernetes/kubernetes/issues/45366 (we weren't sure if krane now targeted a newer k8s than we use, 1.16), and that the need for this to be documented was also mentioned in https://github.com/Shopify/

[2021-03-02 05:18] timflapper commented on #805
Even with two second timeout, we're seeing this issue consistently when connecting to clusters on the other side of the world.

[2021-03-02 16:50] opsidao commented on #805
Same here, I did a quick test with one of our projects and it still did a couple of retries though it succedded in the end, but that was enough to make me decide to leave our version fixed to 2.1.5 to avoid any headaches.

I wonder, if the way to go is hardcoding a timeout, why not go with something obnoxious like 10 seconds?

I would rather wait ten seconds for a deployment to fail (in the discov

[2021-03-09 23:13] dturn commented on #805
In the discovery phase that's true. But the deploy phase is made up of many kubectl calls and its a bad time to find out that the network is overloaded because if some mutating calls work and then you hit one that times out you're going to be in  an inconsistent state.

That being said, having one call with a shorter tiemout than the others is a bad idea I'll work on a PR to bump it back to the sa

[2021-03-10 10:20] zedtux opened #814 "Dockerize krane"
In order to make it even more easy to use (not wasting time and system with Ruby and gems to be installed), it would be great to have this tool in a Docker container.

[2021-03-18 18:56] zedtux commented on #814
Maybe you're thinking of the pipeline? If that's the case, as you're using Github, GH Actions would do it otherwise there are plainly of free options out there.

Not yet but it shouldn't be that hard since `krane` is *just* a gem. I will give it a try and let you know.

[2021-04-05 10:41] strowi commented on #814
If you're talking about being able to execute krane via `docker run...` (and not the pipeline-build) maybe this will help - https://github.com/strowi/deploy/.

We're using this as general "deploy"container for docker-compose + kubernetes, it definitely could be slimmed down if only krane is wanted. But it might help to get you started.;)

[2021-04-07 02:56] zedtux commented on #814
Sorry @dturn I don't understand what's the issue here.

[2021-04-07 06:32] strowi commented on #814
@dturn is right. The kubectl-version is (more or less) bound to the cluster-version. So having kubectl-v1.18 in the docker-image you could only support clusters with v1.18+v1.19. Same goes the other way around for deprecations.

Workaround could be mounting kubectl from the host, or downloading it in an init-script (this can/will get you probably rate-limited at least).

[2021-04-22 17:38] strowi opened #818 "Error Deploying with envvar value of "y""
# Bug report

Not sure why this would fail at all.. but a Deployment with an env value of "y" fails.

**Expected behavior:** Deployment success

**Actual behavior:** Deployment errors out
[code]

**Version(s) affected:** 2.1.6

### Steps to Reproduce

1. deploy the following with kubectl -> success, with krane -> above error
[code]

regards,
strowi

[2021-04-22 19:33] timothysmith0609 commented on #818
Weird, it's coercing `"y"` to `true` (the boolean).

[2021-04-22 19:49] timothysmith0609 commented on #818
So what's happening is `krane` is reading in the manifest, and then when it rewrites it out is removing the double-quotes are 'y', which kubectl then interpolates to mean `true`. TBH I'm not sure what the best fix is here: explicitly handling this case seems tricky, since the YAML unmarshaler will probably make this opaque, and the failure occurs due to `kubectl`'s handling of 'y' :(

[2021-04-22 19:59] strowi commented on #818
quick workaround was moving the value to a secret. But right now im searching for some kubectl docs regarding the handling of 'y'.

[2021-04-28 18:14] perbernhardt opened #819 "Deploy fails unnecessarily on temporary image pull error"
# Bug report

Due to a bug in Azure AKS around stale tokens it can happen that pulling an image for a pod only succeeds on the second try. The first failed pull attempt does not count as a container restart, hence it will be performed also on [task pods](https://github.com/Shopify/krane#running-tasks-at-the-beginning-of-a-deploy) that have a `restartPolicy` of `Never`.
The problem is that krane's

[2021-04-29 21:34] mistydemeo opened #821 "Error when deploying - "error: no matches for kind "FrontendConfig"""
# Bug report

Frequently, when deploying our app `spin-services`, we're seeing the error `no matches for kind "FrontendConfig" in version "networking.gke.io/v1"`: https://buildkite.com/shopify/spin-multi-deploy/builds/689#504d3cb7-dc28-43b6-9b3a-bbfbf26d0f98

[code]

This seems to be exactly the same error as #761. I see that was replaced by #778, which was meant to fix this more generally, but it

[2021-05-03 19:11] #821 closed

[2021-06-05 17:04] airhorns commented on #814
Another option would be building plain old krane binaries using something like https://github.com/pmq20/ruby-packer or https://github.com/phusion/traveling-ruby . If it needs to collaborate with other elements from the system like `kubectl` and the kube config, seems like the best fit would be to make it a program! It is definitely annoying to have to install a whole system ruby just to run krane

[2021-06-15 18:49] airhorns commented on #689
Did anyone end up making any progress on this?

[2021-07-08 09:58] strowi commented on #819
I believe we are running into a similar problem with the latest version:

We have istio deployed in our cluster and the istio-proxy sidecar seems to have some trouble with the initial start...

If krane checks in the wrong moment, the deployment is marked as failed, although after 2-3 retries the pod is health:

[code]

[code]
(10.42.13.96:15021 is the istio-proxy health check)

Maybe some kind of

[2021-07-22 17:52] timothysmith0609 commented on #819
Thanks for the issue @perbernhardt! I'll take a look at this early next week. Hopefully it won't be too difficult of a fix, thanks for doing the background digging already.

[2021-07-22 17:57] timothysmith0609 commented on #818
I'm going to close this issue as out-of-scope/wontfix. If you want to reopen it again in the future, feel free and we can take a look with fresh eyes.

[2021-07-22 17:57] #818 closed

[2021-08-09 19:16] timothysmith0609 commented on #819
So there's no easy way for `Krane` to get the number of failed image pulls, since we don't observe `Event` objects in the namespace, just the `Status` fields of the resources being deployed. However, the `ResourceWatcher` has a sync delay of 3 seconds, so we can use that to get a reliable time measurement. Using that, we can increment the number of times we observe an image pull failure, and only

[2021-08-10 08:00] perbernhardt commented on #819
@timothysmith0609 So we also got feedback from our Cloud Provider on this: The underlying cause for this is that we use a regional replicated container registry (Azure ACR). So basically we build a new image and push that to the registry before we start deploying using Krane. But we deploy against different regions (e.g. Canada & Australia) and we got the feedback that it can take "some minutes" b

[2021-08-11 06:37] perbernhardt commented on #819
Yes, that sounds reasonable. The problem is really only for "raw" pods / tasks.

[2021-08-18 18:09] timothysmith0609 commented on #819
Take a look at https://github.com/Shopify/krane/pull/834 when you have a moment, I think it should solve this issue.

I still feel it's a bit cumbersome to put this check in the code, but the change is minor enough that I'm not _too_ bothered by it. Said that, are you certain there's nothing you can do to wait for the image to be replicated across regions before invoking the deploy process?

[2021-08-26 14:50] stefanmb opened #835 "Kubernetes-Restart support for StatefulSet"
# Feature request

**Proposal:**

 [Sieve](https://github.com/Shopify/sieve/pull/375) requested support for restarting StatefulSets with krane, this is due to their use of [OnDelete](https://github.com/Shopify/sieve/issues/366#issuecomment-840192435). This request is reasonable and related to https://github.com/Shopify/krane/issues/610 and should be implemented with it, but does not necessarily ne

[2021-08-30 20:01] timothysmith0609 commented on #835
This looks pretty simple to implement, I'll get on it.

Curiously, we seem to be using a really outdated approach: https://github.com/Shopify/krane/pull/61, whereby the pods are triggered to restart by adding a throw-away env var onto the pod itself.

From a verbose `krane rollout restart` invocation for both deployments and statefulsets, looks like there's a saner, annotation-based, approach:

[c

[2021-09-15 14:25] #835 closed, assigned to nobody

[2021-12-08 10:06] jimtng commented on #707
This sounds exactly like what I'm looking for. It should be merged into the core erb code.

[2021-12-15 16:57] opsidao opened #850 "Krane failing with the latest ubuntu version on github actions"
# Bug report

In the latest [version of the ubuntu image used for Github actions](https://github.com/actions/virtual-environments/blob/ubuntu20/20211209.3/images/linux/Ubuntu2004-README.md), they updated kubectl to version 1.23.0.

According to the [Kuberentes Changelog for this version](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md) they have:

This breaks Krane

[2021-12-16 08:33] bcha opened #851 "uninitialized constant ActiveSupport::XmlMini::IsolatedExecutionState"
# Bug report

krane blows up on deploy since last night. Possibly related to Rails 7.0.0 release? See similar: https://github.com/rails/rails/issues/43889

-> Need to require top level active_support in krane too? I'm not too familiar with Ruby myself.

**Expected behavior:** krane doesnt blow up

**Actual behavior:** krane blows up

**Version(s) affected:** Both 2.3.0 & 2.3.4 are affected.

### S

[2022-01-04 21:42] #850 closed

[2022-01-11 07:03] ibratoev commented on #851
The blew up our updates as well. I consider it a critical issue because it breaks clean installs of `krane`.

[2022-01-11 14:44] jpfourny opened #865 "Ensure deploy tasks fail without at least one non-empty resourc"
# Bug report

The `krane deploy` command should refuse to deploy without at least one non-empty resource, as this would result in complete namespace pruning. This situation can be easily triggered when piping into `krane deploy` from another command (typically `krane render`) which subsequently fails.

[code]

Even when setting `-e` and `pipefail` in bash, there is nothing to stop an empty payload

[2022-01-12 17:28] #865 closed

[2022-01-21 09:34] iamdebu opened #870 "unable to recognize "/yaml Path": no matches for kind "EnvoyFilter" in version "networking.istio.io/v1beta1"
# Bug report
unable to recognize "/yaml path": no matches for kind "EnvoyFilter" in version "networking.istio.io/v1beta1"

[Description of the bug]
We are setting up an AKS cluster and for service mesh we are using ISTIO. We have a set of scripts to configure ISTIO. The scripts were working correctly till 1.19 version of Kubernetes. Now with the new AKS cluster the old (Kubernetes 1.19) version is

[2022-02-07 15:57] timothysmith0609 opened #873 "Wrong CRD may be referenced by Custom Resource with duplicate Kind"
# Bug report

Currently, `DeployTask#discover_resources` is the following:

[code]

For `crds_by_kind`, there is an error when the same `kind` appears in multiple groups. For example, if there are multiple `Certificate` resources, the `crd` passed into `KubernetesResource::build` will not match the underlying resource definition.

E.g.
[code]

The solution is to group CRDs by their full GVK and ma

[2022-02-16 14:57] #523 closed

[2022-03-11 20:34] arunikadhal opened #880 "Wrong CRD may be referenced by Custom Resource in global_deploy"
# Bug report

In [global_deploy_task.rb](https://github.com/Shopify/krane/blob/01ce0fa99f2e78174757ce64993f0875a2e61a6f/lib/krane/global_deploy_task.rb), in

[code]

 we are grouping crds by name but trying to extract using `kind` from `r_def`. There are no tests that currently catch this.

**Proposal:**
We should use a uniform approach to pick crds, either `kind` or `name`. It would be beneficial

[2022-04-16 20:03] simi commented on #727
That PR seems merged. Is there any way to specify `-f secrets.ejson` combined with `--stdin` which is not deprecated now? Any plans to implement this? Is there anything I can help with?

[2022-04-16 20:18] simi commented on #727
It seems `-f secrets.ejson -` works now. Anyway `--stdin` seems more explicit to me. Is there any reason why `--stdin` is deprecated?

I did a quick test and it is possible really easily enable multiple `-f` flags, I can send a PR if welcomed. It would be also nice to update `README.md` to make it clear it is possible to use `-f` with both stdin and secrets. If I understand it well, it is currentl

[2022-04-17 03:40] sonalkr132 commented on #851
I just want to voice my support for this. It broke our deployments after update of shipit-engine. krane is not usable with activesupport 7.

[2022-04-17 09:26] simi commented on #851
Isn't https://github.com/Shopify/krane/pull/861 fixing this?

[2022-04-18 13:08] timothysmith0609 commented on #727
The original desire was to keep the flags _similar_ to `kubectl apply`.

That would be very welcome. It's been a long time since I touched this issue, and I'm sure things have changed since then :) If you're able to pick this up I would really appreciate it!

[2022-05-02 18:52] benlangfeld commented on #851
@simi Indeed. Y'all just need to upgrade krane. This issue can be closed.

[2022-05-25 15:47] strowi opened #891 "Deployment with Gitlab-Agent/KAS fails"
# Bug report

Using the Gitlab-Agent to deploy to K8s with [Shopify/krane/](https://github.com/Shopify/krane/) fails.

**Expected behavior:** Successful Deployment

**Actual behavior:** krane fails to `kubectl get --raw /k8s-proxy`

**Version(s) affected:** 2.4.7

### Steps to Reproduce

1. setup + deploy gitlab-agent to a Rancher Kubernetes cluster.
2. try deploying with shopify/krane
3. alternat

[2022-05-27 08:22] strowi opened #892 "Error retrieving raw URIs from Rancher / Proxied-APIs"
# Bug report

Might be related to #891 and #827 missing cluster_url  on `get --raw` commands.

krane fails to get raw api-paths:

[code]

**Expected behavior:** No errors, deployment should work.

**Actual behavior:** Deployment failed

**Version(s) affected:** 2.4.7

### Steps to Reproduce

1. setup some k8s-proxy tool like rancher
2. try deploying via the rancher cluster-url "https://XYZ/k8s/clu

[2022-06-02 21:19] saunderst opened #893 "krane restart hits testing code path and silently fails"
# Bug report

When running `krane restart` via https://github.com/Shopify/shopify-core-datastores/blob/master/restart.rb, a low-level function call in the `faraday` dependency failed.  The stack trace showed that test adapter code was invoked (and failed with `Faraday::Adapter::Test::Stubs::NotFound`):
[code]

Also, gem version `faraday-2.0.0.alpha.pre.4` seems suspect.

**Expected behavior:**

`r

[2022-06-02 22:42] jpfourny commented on #893
`krane` only distributes a gemspec, not a lockfile, so dependency versions are controlled by you - `krane` does not directly constrain `faraday`.

Regardless, I see that the `rack` adapter is active in the stack trace you gave - is that expected? Rack always uses a mock / test session.

[code]

I cannot find any code within `krane` that would activate rack, so it must be something in `shopify-core

[2022-06-04 02:17] saunderst commented on #893
Thanks for the clarification.  I'll continue investigating on our side.

[2022-06-09 15:57] dudicoco commented on #661
Hi,

Any updates on this? Currently i'm using https://github.com/werf/kubedog to watch my helm deployments, would be happy to try out krane for that purpose as well.

[2022-07-13 10:32] renescheepers opened #895 "Krane is unable to fully deploy resources when there are duplicate Kinds"
# Bug report
When a CRD installed with for kind "Deployment", Krane will be unable to deploy those resources if the scoping is different on the CRD. It will check the state of the wrong resource and in the wrong scope, cluster instead of namespace.

**Expected behavior:** deployment to succeed.

**Actual behavior:** Krane constantly checks if deployment is succeeded but eventually times out.

**Ve

[2022-07-15 09:21] dudicoco commented on #814
I agree with @airhorns, krane should be available as a binary.

[2022-07-15 10:27] dudicoco opened #898 "Terrible performance"
Hi,

I've tried running krane today for the first time, the performance was pretty terrible.
It took krane more than three minutes to start the deployment:
[code]
Is this normal behavior?

[2022-08-16 17:15] saunderst commented on #893
This can happen if we don't manage dependencies explicitly.  Here was our solution, which may be helpful to illustrate the issue: https://github.com/Shopify/shopify-core-datastores/pull/799

[2022-08-16 17:15] #893 closed

[2022-10-04 09:10] bcha opened #906 "option to predeploy any resource"
# Feature request

- [ ] If the maintainers agree with the feature as described here, I intend to submit a Pull Request myself.<sup>1</sup>

**Proposal:** Could it be possible to predeploy _any_ resouce, controlled by some annotation? Like `krane.shopify.io/predeployed`, which currently only supports CRDs.

My personal use-case is deploying `kind: ExternalSecret` resources from https://github.com/

[2022-11-01 17:28] ethanaubuchon opened #908 "Stop pruning `Event` resources on deploy."
# Bug report

Pruning `Events` when deploying caused multiple timeouts and deployment failures.  After retrying a few times, the deploy was able to successfully prune all Events and complete successfully.

To resolve this, we've discussed adding `Event` resources to the blacklist of resources to prune. This would avoid this in the future and there doesn't seem to be an obvious need to prune them.

[2022-11-16 11:30] strowi commented on #892
For anyone interested - [here](https://github.com/strowi/krane/tree/fix-api-path-discovery) is a compileable working version.

[2022-11-18 14:29] #908 closed